.brand-myflix {
    color: #00ff99 ;
  }
  
  .navbar-link {
    color: white;
  }

  .navbar-main {
    background: white;
    margin-bottom: 2em;
  }
  
  .container {
    margin-bottom: 2em;
  }
  
  .navbar-light .navbar-brand {
    color:  #00ff99;
    font-size: 30px;
  }
  
  .card-column {
    background-attachment: fixed;
    margin-top: 2em;
  }
  
  .log-out-button:hover {
    cursor: pointer;
  }