@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet');

body {
  background-color: #e4ecf2;
  font-family: Source Sans Pro;
}

.profile-view{
  margin-left: 15%;
  margin-top: 10%;
  color: black;
  justify-content: center;
}
.favorite-movies{
  margin-left: 30%;
  margin-top: 10%;
  color: black;
  justify-content: center;
  position: sticky;
}